/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-indipink: #ffa7d7;
  --color-dark-pink: #ff6863;
  --color-dark-indipink: #ffa3e4;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #1a9cff;
  --color-yello: #fff7d1;
  --color-orange: #feb546;
  --color-apricot: #ffab67;
  --color-light-apricot: #fec08d;
  --color-dark-apricot: #ff8520;

  /* Font size */
  --font-big-large: 60px;
  --font-large: 48px;
  --font-medium-large: 35px;
  --font-medium: 23px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 10px;

  /* Animation */
  --animation-duration: 300ms;

  /* Icon_Image Max */
  --icon_image-max-width: 100%;
  --icon_image-max-height: 100%;

  /* Box shadow */
  --box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-big-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 18px 0 20px 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-pink);
  margin: 8px 0;
}
h4 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Nav bar */
#navbar {
  position: fixed;
  z-index: 1;
  padding: 16px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-apricot);
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__menu {
  display: flex;
}

.navbar__logo,
.footer__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar.navbar--dark {
  background-color: var(--color-apricot);
  color: var(--color-white);
  /* padding: 8px; */
  padding: 5px 60px;
  opacity: 0.9;
}

/*  */
.navbar__logo a {
  color: var(--color-apricot);
}

/*  */
.navbar--dark a {
  color: var(--color-white);
}

.navbar__menu__item {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 6px 12px;
  /* padding: 8px 0; */
  margin: 0 4px;
  cursor: pointer;
  /* border: 1px solid transparent; */
  border-radius: 20px;
  /* transition-duration: .5s; */
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  color: var(--color-white);
  /* background-image: linear-gradient(
    180deg,
    var(--color-light-apricot),
    var(--color-dark-apricot)
  ); */
  background-color: var(--color-dark-apricot);
  border-radius: 20px;
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-apricot);
  display: none;
}

/* html {
  scroll-behavior: smooth;
} */

/* Home */

#home {
  background: url(imgs/profile/2.png) top/cover no-repeat;
  /* height: 80vh; */
  /* padding-top: 12em;
  padding-left: 15vw;
  padding-bottom: 400px; */
  /* padding: 12em 200px 0 15vw; */
  padding: 250px 240px 130px;
  margin: 0;
}

.home__avatar {
  width: 250px;
  height: 250px;
}

.home__container {
  display: flex;
  justify-content: space-between;
}

.home__title,
.home__description {
  color: var(--color-dark-grey);
}

.home__description__career {
  font-weight: var(--weight-bold);
}

.home__description {
  line-height: 1.7em;
}

.home__description span {
  display: inline;
}

.home__description__empty {
  content: "";
  margin-right: 9px;
}

/* Home description flip container */
.home__description__flip-contianer {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 37px;
}

.home__description__flip-contianer span {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  animation: rotate-word 20s linear infinite;
}

h2 .home__description__flip-contianer span:first-child {
  display: inline-block;
  width: 100%;
}

.home__description__flip-contianer span:nth-child(2) {
  animation-delay: 2.5s;
}

.home__description__flip-contianer span:nth-child(3) {
  animation-delay: 5s;
}

.home__description__flip-contianer span:nth-child(4) {
  animation-delay: 7.5s;
}

.home__description__flip-contianer span:nth-child(5) {
  animation-delay: 10s;
}

.home__description__flip-contianer span:nth-child(6) {
  animation-delay: 12.5s;
}

.home__description__flip-contianer span:nth-child(7) {
  animation-delay: 15s;
}

.home__description__flip-contianer span:nth-child(8) {
  animation-delay: 17.5s;
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }

  1% {
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  29% {
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home__contact,
.about__me__detail a,
.skills__myDescription a {
  color: var(--color-dark-grey);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-top: 4rem;
  padding: 0;
  width: 140px;
  border-bottom: 1px solid var(--color-dark-apricot);
  line-height: 35px;

  /* border-radius: var(--size-border-radius); */
}

.home__contact:hover,
.about__me__detail a:hover,
.skills__myDescription a:hover {
  transform: translateX(10px);
  transition: all var(--animation-duration), color 500ms ease;
  color: var(--color-dark-apricot);
}

/* Section common */
.section {
  padding: 100px 70px;
  margin: auto;
  /* padding-top: 100px; */
}

.section__container {
  /* padding: 60px 70px; */
  max-width: 1200px;
  margin: auto;
}

/* .additional {
 display: block;
 max-width: var(--icon_image-max-width);
 height: auto;
 border: 0;
}

.additional_img {
  width: 100%;
  height: 30%;
} */

/* Work */

#work {
  text-align: center;
}
.work__categrories {
  margin: 50px 0;
}

.category__btn {
  /* border: 1px solid var(--color-dark-white); */
  border-radius: 25px;
  font-size: var(--font-small);
  padding: 10px 46px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-dark-apricot);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  /* position: relative; */
  position: absolute;
  top: -25px;
  /* left: 4px; */
  right: 12px;
  opacity: 0;
  font-size: var(--font-micro);
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
  /* width: 700px;
  height: 460px; */
  width: 400px;
  height: 360px;
  margin: 10px;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: var(--icon_image-max-width);
  max-height: var(--icon_image-max-height);
  align-self: center;
  /* object-fit: cover; */
}

.project__description {
  position: absolute;
  background-color: var(--color-dark-apricot);
  border-radius: var(--size-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
  text-align: center;
}

.project:hover .project__description {
  opacity: 0.85;
  transform: translateY(0px);
}

.project__description h4 {
  color: var(--color-white);
}

.project__description h4:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 40px;
  height: 2px;
  transform: translateX(-50%);
  /* margin-left: -12px; */
  margin-top: 8px;
  background-color: var(--color-grey);
}

/* Skill */
#skills {
  background-color: #fdf2e5;
}

.section__container__different {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.skills__myDescription {
  /* width: 580px; */
  flex-basis: 58%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.skills__myDescription h4 {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
  /* margin-top: 150px; */
  color: var(--color-blue);
}

.skills__myDescription a {
  color: var(--color-dark-apricot);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  display: inline-block;
  margin-top: 20px;
  width: 205px;
}

.skills__myDescription__icons {
  font-size: 55px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px 0;
  align-items: self-start;
  color: var(--color-apricot);
  margin: auto;
  flex-wrap: wrap;
}

.skills__myDescription__icons i:nth-child(1),
.skills__myDescription__icons i:nth-child(2),
.skills__myDescription__icons i:nth-child(3) {
  padding: 2px 8px;
  /* background-color: #1a9cff; */
}

.skills__myDescription__icons i:hover,
.skills__myDescription__icons img:hover {
  transition: all var(--animation-duration) ease-in;
  transform: scale(1.1);
}

.skills__myDescription__icons__tool {
  margin: 5px 30px;
}

.skills__myDescription__icon__name {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
  flex-direction: column;
  text-align: center;
}

.skillset__title {
  color: var(--color-white);
  margin-bottom: 17px;
}

.skillset__charts {
  border-radius: 25px;
  width: 400px;
  flex-basis: 40%;
  background-color: var(--color-blue);
  padding: 20px 40px;
  margin-top: 48px;
  box-shadow: var(--box-shadow);
}

.skill {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.skillset__chart {
  display: flex;
  flex-direction: column;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: px;
}

.skill__bar {
  width: 100%;
  height: 6px;
  background-color: var(--color-light-grey);
  border-radius: var(--size-border-radius);
  display: flex;
  align-items: center;
}

.skill__value {
  height: 6px;
  background-color: var(--color-light-apricot);
  border-radius: var(--size-border-radius);
}

/* About */

#about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;

  padding: 100px 70px;
  /* height: 100vh; */
  /* padding-top: 12em; */
  /* padding-right: 15vw;
  padding-left: 15vw; */
}
#about h1 {
  /* text-align: left; */
  padding: 16px;
}

.about__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__me__detail {
  text-align: left;
  display: flex;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.about__me__detail__right {
  display: flex;
  flex-direction: column;
}

.about__profile p {
  margin-top: 25px;
}

.about__avatar {
  width: 250px;
  height: 250px;
  margin-right: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  /* border: 2px solid var(--color-light-white); */
}

.about__experience {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

.major {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px 0;
  /* margin: 0 10px; */
}

.major__icon {
  font-size: 70px;
  color: var(--color-blue);
  border-radius: 50%;
  /* flex-wrap: wrap; */

  width: 170px;
  height: 170px;
  line-height: 170px;
  /* background-color: yellow; */
  margin: auto;
  border: 1px solid var(--color-orange);
  margin-bottom: 16px;
  text-align: center;
}

.fa-solid.fa-plane-departure {
  font-size: 52px;
}

.major__icon i {
  transition: all var(--animation-duration);
}

.major__icon:hover i {
  color: var(--color-dark-apricot);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job,
.education {
  display: flex;
  align-items: center;
  /* flex-grow: 0; */
}

.job__description,
.education__description {
  margin: 8px 16px;
  text-align: left;
}

.job__name,
.job__period,
.education__name,
.education__period {
  color: var(--color-light-grey);
}

.job__name,
.education__name {
  font-size: var(--font-small);
}

.job__period,
.education__period {
  font-size: var(--font-micro);
}

.job__brand img,
.education__brand img {
  width: 100px;
  /* height: 20px; */
  margin: 2px;
  /* background-color: #73aace; */
}

/* .job__logo,
.education__logo {
  max-width: var(--icon_image-max-width);
  max-height: var(--icon_image-max-height);
} */

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  align-items: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* margin: 12px; */
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
  box-shadow: var(--box-shadow);
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
  box-shadow: var(--box-shadow);
}

.testimonial__speech-bubble {
  padding: 12px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: var(--box-shadow);
}

.testimonial__speech-bubble i {
  color: var(--color-dark-apricot);
  font-size: 1.5rem;
}

.testimonial__speech-bubble__second__quotation {
  display: flex;
  justify-content: space-between;
}

.testimonial__speech-bubble__second__quotation i:first-child {
  opacity: 0;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
  margin: 0 30px;
}

.testimonial__speech-bubble a {
  color: var(--color-dark-apricot);
}

/* Contact */
#contact {
  background-color: var(--color-apricot);
}

#contact > .section__container {
  margin-bottom: 88px;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__email a:hover {
  color: var(--color-grey);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-grey);
}

.contact__links a {
  margin: 0 1.5px;
}

/* line */

.footer_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--color-white);
  padding-top: 30px;
}

.contact__rights {
  display: inline-block;
}

.footer__logo i {
  color: var(--color-white);
}

/* Scroll */
.up_button {
  position: fixed;
  right: 130px;
  bottom: 30px;
  margin-bottom: 390px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--color-white);
  padding: 2px;
  background-color: var(--color-apricot);
  border-radius: 50%;
  /* border: 2px solid var(--color-white); */
  opacity: 0;
  /* display: none; */
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-out;
  /* up_button animation */
  animation-name: up_button;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@keyframes up_button {
  0% {
    bottom: 0px;
  }
  75% {
    bottom: 9px;
  }
  100% {
    bottom: 0;
  }
}

.up_button.visible {
  opacity: 1;
  /* display: block; */
  pointer-events: auto;
}

/* For below 768px screen width*/
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-big-large: 45px;
    --font-large: 30px;
    --font-medium-large: 20px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #fdf2e5;
    padding: 16px 0;
  }

  #navbar.navbar--dark {
    padding: 16px 0;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__logo,
  .footer__logo {
    margin-left: 20px;
    font-size: var(--font-medium-large);
  }

  .navbar__toggle-btn {
    display: block;
    padding: 0;
    top: 13px;
    right: 16px;
    font-size: var(--font-large);
  }

  /*  */
  .navbar--dark .navbar__toggle-btn {
    color: var(--color-white);
  }

  .navbar__toggle-btn:hover {
    color: var(--color-light-grey);
  }

  .navbar__menu.open {
    display: block;
    color: var(--color-dark-apricot);
    background-color: #fdf2e5;
    font-weight: var(--weight-semi-bold);
    text-align: right;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: hamburger var(--animation-duration) ease-in;
    position: absolute;
    top: 41px;
  }

  @keyframes hamburger {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  .navbar__menu__item.active,
  .navbar__menu__item:hover {
    /* margin: 0 16px; */
    border: 2px dashed var(--color-apricot);
  }

  #home {
    padding: 16px 16px 35px;
    /* height: 75vh; */
  }

  .home__contact {
    margin-top: 2em;
  }

  .home__container {
    flex-direction: column;
    align-items: center;
  }

  .home__container__left {
    margin-top: 220px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: center; */
  }

  .home__avatar {
    position: absolute;
  }

  .home__contact,
  .about__me__detail a {
    width: 110px;
  }

  .about__me__detail a {
    margin-top: 2rem;
  }

  .work__categrories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*  */
  .category__btn {
    /* border: 1px solid var(--color-dark-white); */
    border-radius: 25px;
    font-size: var(--font-small);
    padding: 10px 46px;
    position: relative;
  }

  .category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    /* position: relative; */
    position: absolute;
    top: -25px;
    /* left: 4px; */
    right: 12px;
    opacity: 0;
    font-size: var(--font-micro);
    transition: all var(--animation-duration);
  }
  /*  */

  .category__btn {
    margin: 3px 0;
    width: 90%;
    /* padding: 10px 22px; */
  }

  .work__categrories {
    margin: 20px 0;
  }

  .about__majors {
    flex-direction: column;
    padding: 0;
  }

  .major {
    margin-bottom: 38px;
  }

  .skills__myDescription__icons {
    font-size: 40px;
    justify-content: space-evenly;
    padding: 20px 0;
    /* flex-wrap: wrap; */
  }

  .skills__myDescription__icon img {
    width: 45px;
  }

  .skills__myDescription__icons__tool {
    margin: 10px 3px;
  }

  .skills__myDescription a {
    width: 183px;
  }

  .skillset {
    align-items: center;
  }
  .skillset__charts {
    width: var(--icon_image-max-width);
    margin: 0;
    width: 90%;
  }

  .section__container__different {
    flex-direction: column;
  }

  .project {
    margin: 7px;
    /* width: 400px; */
    width: 90%;
    height: 360px;
  }

  #about {
    align-items: center;
  }

  #about.section {
    padding: 16px;
    padding-top: 70px;
  }

  .about__me__detail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about__avatar {
    margin-right: 0;
  }

  .major__icon {
    font-size: 60px;
    width: 140px;
    height: 140px;
    line-height: 140px;
  }

  .fa-solid.fa-plane-departure {
    font-size: 45px;
  }

  #testimonials > .section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials {
    margin-bottom: 0;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .testimonial__speech-bubble i {
    font-size: 1.2rem;
  }

  .testimonial__avatar,
  .about__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  #contact {
    text-align: center;
  }

  #contact > .section__container {
    margin-bottom: 0;
  }

  .contact__title {
    margin: 6px 0;
  }

  .contact__links {
    margin: 26px 0;
    /* margin-bottom: 30px; */
  }

  #contact.section {
    padding-top: 20px;
  }

  .footer_line {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .contact__rights {
    display: flex;
    flex-wrap: wrap;
    width: 205px;
    margin: auto;
  }

  .up_button {
    right: 16px;
    margin-bottom: 16px;
    line-height: 50px;
  }

  /* section common */
  .section {
    padding: 16px;
    padding-top: 70px;
  }
}
